.container {
    background-color: #fff;
}

.globo {
    margin-left: 0;
    padding-left: 0;
    transform: translateY(30px);
}

.nubes {
    background-image: url('/images/cloud2.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}